.wallet {
    padding : 1%;
}

.wallet > div > div {
    width: 100%;
    text-align: center;
}

.css-1jk5bz2 {
    color: #cad1d8 !important;
    background-color: #2d353d !important;
}

.css-1k4y44 {
    background-color: #3d4752 !important;
    color: #cad1d8 !important;
    border-radius: 20px !important;
}

.tableWallet {
    width: 92%;
    margin-left: 4%;
    padding: 2%;
}