.Bannière {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
    min-height: 300px;
}

.firstBox {
    box-shadow: 0 20px 80px #647587 !important;
    height: min-content !important;
    border-radius: 0px !important;
    width: 40% !important;
}

.firstBox > div {
    border: solid 1px #647587;
    padding: 1%;
    width: auto !important;
    height: auto !important;
}

.Bannière img {
    width: auto !important;
}
.carousel .slider-wrapper.axis-horizontal .slider {
    align-items: center;
}

.carousel .slider-wrapper {
    margin-bottom: 3% !important;
    margin-top: 3% !important;
}
canvas {
    min-height: 400px;
}
.Box {
    border: solid 1px #647587;
    width: 50%;
    padding: 0.5%;
    box-shadow: -15px 15px 0px 5px #414e5b7d;
    height: 600px;
    margin: 2%;
    border-radius: 20px;
    margin-right: 1% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box > div {
    width: 98%;
}

.Box > div > div:nth-child(2){
    min-height: 90%;
}
.SousBannière {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
    padding: 1%;
}

.g2-tooltip {
    background-color: #3d4752 !important;
    color: #cad1d8 !important;
    font-weight: bold !important;
    box-shadow: '0 20px 80px #6f8294' !important;
    font-size: 15px !important;
    max-width: 400px !important;
}

.g2-tooltip > div {
    width: auto !important;
}

.g2-html-annotation {
    overflow: inherit !important;
    color: #cad1d8 !important;
}

.g2-html-annotation > div {
    width: 100% !important;
}

dt, dd{
    color: #cad1d8;
}

.stats {
    border: solid 1px #647587;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2%;
}

.flexSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
